setuptools==75.1.0
pandas==2.2.3
torch
torchvision
torchaudio
colorama==0.4.6
torch_geometric
accelerate==1.2.1
numpy==2.0.2
wandb==0.19.2
deepspeed==0.16.4
lightning==2.5.0.post0
pytz==2024.2
PyYAML==6.0.2
tensorboardX==2.6.2.2
tensorflow_cpu==2.18.0
tqdm
fbgemm_gpu==1.0.0
sentencepiece==0.2.0
transformers==4.48.1
colorlog
xformers==0.0.29.post3
scikit-learn==1.6.1
polars
flash-attn
pyarrow